.title{
    font-family: Roboto,arial;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.pp2{
    font-size: 18px;
    font-family: roboto,arial;
}
.item-picture{
    width: 75%;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}